*,html{
	width:100%;
	background-color:#ccccff; 
}

h1{
	text-align: center;
	font-family: 'Lobster',cursive;
	color: blue;
}

h3{
	display: block;
	height:30px;
	text-align: center;
	font-family: 'Lobster',cursive;
	color: blue;
}

.outerouterbox{
	text-align: center;
}
.outerbox{
	display: block;
	float: left;
	vertical-align: middle;
	width:100%;
}

.innerbox{
	display: inline-block;
	height:200px;
	width:200px;
	border:2px black solid;
	border-radius: 20%;
	background: #666699;
}

.buttonrow{
	text-align: center;
}

.newgamebutton{
	margin-top:1%;
	margin-bottom:3%;
	width:10%;
	background-color:blue;
	color:white;
}

.winclass{
	background:green;
}

.wrongselection{
	background-color:red;
}